#file-chooser {
  display: none;
}

#file-dropper {
  background: white;
  border: 5px lightblue dashed;
  border-radius: 20px;
  text: blue;
  text-align: center;
  margin: 5% 20% 5% 20%;
  cursor: pointer;

  transition: border 0.8s;
  transition: margin 1s;

  .label-wrapper-inner {
    transition: padding 0.8s;
    transition-delay: 0.8s;
    padding: 5em 2em 5em 2em;
  }

  img {
    width: 5em;
    height: auto;
  }

  .file-dropper-text {
    margin-bottom: 8px;
  }

  .file-button {
    background: #45859A;
    border-radius: 3px;
    padding: 5px;
    margin: 15px;
    color: white;
    font-size: 1.3em;
  }
}

.file-chooser-hover {
  border: 5px dashed #45859A !important;
}

.file-dropper-chosen {
  margin: 0 0 1em 0 !important;
  .label-wrapper-inner {
    padding: 0.8em !important;
  }
}
