.file-chooser {
  display: none;
}

.file-dropper {
  background: white;
  border: 5px lightblue dashed;
  border-radius: 20px;
  text: blue;
  text-align: center;
  margin: 5% 20% 5% 20%;
  cursor: pointer;

  transition: border 0.8s;

  progress {
    width: 60%;
    margin: 0 20% 0 20%;
    height: 2em;
    border-radius: 10px;
  }

  progress.error {
    color: red;
  }

  progress::-moz-progress-bar {
    border-radius: 10px;
  }

  progress::-moz-progress-value {
    border-radius: 10px;
  }

  progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: #eee;
  }

  progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: lightblue;
  }

  progress.error::-webkit-progress-value {
    background: red;
    border: 1px dashed lightcoral;
  }

  progress.error::-moz-progress-bar {
    background: red;
    border-radius: 10px;
    border: 1px dashed lightcoral;
  }

  .label-wrapper-inner {
    padding: 5em 2em 5em 2em;
  }

  img {
    width: 5em;
    height: auto;
  }

  .file-dropper-text {
    margin-bottom: 8px;
  }

  .file-button {
    background: #45859A;
    border-radius: 3px;
    padding: 5px;
    margin: 15px;
    color: white;
    font-size: 1.3em;
  }
}

#file-dropper:hover {
  border: 5px dashed #45859A !important;
}

.file-dropper-chosen {
  display: none;
}
