.heatmap-table {
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  tr {
    padding: 0;
    margin: 0;
    td {
      padding: 0;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
    }
    .heat-map-found {
      background: darkgrey;
    }
    .heat-map-not-found {
      background: lightgrey;
    }
  }
}
