#slider-canvas {
  height: 300px;
  width: 100%;
}

.results-div-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;

  a {
    color: black;

    i {
      font-size: 1.3em;
    }
  }

  .bold {
    font-weight: bold;
  }

  >span {
    display: table-cell;
  }

  span:empty:before {
    content: "\200b"; // unicode zero width space character
  }
}
