[Unit]
Description=Napier Map Elites analysis tool
After=docker.service

[Service]
ExecStart=/usr/bin/docker-compose -f $DOCKER_COMPOSE_FILE up
ExecStop=/usr/bin/docker-compose -f $DOCKER_COMPOSE_FILE down
Restart=on-failure

[Install]
WantedBy=multi-user.target

