{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class="row">
	<div class="three columns">&nbsp;</div>
	<div class="six columns launch-container">
		<a href="/upload" class="button launch-button">Launch Application</a>
	</div>
</div>

<div class="row">
	<div class="two columns">&nbsp;</div>
	<div class="four columns documentation-link-container">
		<a href="/static/docs/user_manual.pdf" target="_blank" class="user-documentation-button">User<br />Documentation</a>
	</div>
	<div class="four columns documentation-link-container">
		<a href="/static/docs/installation_manual.pdf" target="_blank" class="local-installation-documentation-button">Local Installation<br />Documentation</a>
	</div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
{% endblock %}
