{% extends 'base.html' %}

{% block title %}
Upload
{% endblock %}

{% block content %}

<div class="row">
	<div class="whole column napier-logo-container">
		<img class="napier-logo" src="/static/images/EdNapUni_red.png" />
	</div>
</div>

<div class="row">
	<div class="whole column" >
		<input type="file" id="file-chooser" />
		<div class="label-wrapper">
			<label for="file-chooser" id="file-dropper">
				<div class="label-wrapper-inner">
					<img src="/static/images/download.svg" />
					<div class="file-dropper-text">Select a file or drag here</div>
					<span class="file-button">Select a file</span>
				</div>
			</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="whole column" id="details-container"></div>
</div>

<div class="row">
	<div class="whole column" id="slider-container2">
		<div id="parcoords" class="parcoords" style="width:100%;height:350px;"></div>
	</div>
</div>

<div class="row">
	<div class="whole column" id="results-container"></div>
</div>

<div class="row">
	<div class="whole column" id="heatmaps"></div>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/upload.css">
<link rel="stylesheet" type="text/css" href="/static/css/parcoords.css">
{% endblock %}

{% block javascript %}
<script src="/static/js/d3.js"></script>
<script src="/static/js/d3-scale.js"></script>
<script src="/static/js/parcoords.js"></script>
<script src="/static/js/upload.js"></script>
{% endblock %}
