{% extends 'base.html' %}

{% block title %}
Upload
{% endblock %}

{% block content %}
<div class="row">
	<div class="whole column" >
		<input type="file" id="file-chooser" />
		<div class="label-wrapper">
			<label for="file-chooser" id="file-dropper">
				<div class="label-wrapper-inner">
					<img src="/static/images/download.svg" />
					<div class="file-dropper-text">Select a file or drag here</div>
					<span class="file-button">Select a file</span>
				</div>
			</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="one-half column" id="slider-container"></div>
	<div class="one-half column" id="results-container"></div>
</div>

<div class="row">
	<div class="whole column" id="heatmaps"></div>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/upload.css">
{% endblock %}

{% block javascript %}
<script src="/static/js/upload.js"></script>
{% endblock %}
