{% extends 'base.html' %}

{% block title %}
Upload
{% endblock %}

{% block content %}
<div class="row">
	<div class="whole column" >
		<input type="file" id="file-chooser" />
		<div class="label-wrapper">
			<label for="file-chooser" id="file-dropper">
				<img src="/static/img/download.svg" />
				<div class="file-dropper-text">Select a file or drag here</div>
				<span class="file-button">Select a file</span>
			</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="one-half column" id="slider-container">
</div>

<div class="row">
	<div class="one-half column" id="results-container">
</div>
{% endblock %}
