@import 'tools/file-dropper';
@import 'tools/heatmap';
@import 'tools/parallel-coordinates';

#details i {
  cursor: pointer;
}

#solutions-upload-container {

  .label-wrapper-inner {
    padding: 0;

    * {
      display: inline-block;
      vertical-align: middle;
    }
  }

}

#solutions-upload-header {
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}

h3 {
  font-size: 1em;
}

#details .details-evals {
  float: left;
  width: 33.3333%;
  text-align: left;
}

#details .details-filename {
  float: left;
  width: 33.3333%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

#details .reset-container {
  float: left;
  width: 33.3333%;
  text-align: right;
}

@media screen and (min-width: 640px) {
  #slider-container {
    div {
      width: 25%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 860px) {
  #slider-container {
    div {
      width: 20%;
      text-align: center;
    }
  }
}

#heatmaps {
  text-align: center;
}
