div[data-enabled="1"] img {
  mask: url('/static/images/visible.svg') no-repeat;
  background-size: cover;
  margin-left: 5px;
  padding: 1px 20px;
}

div[data-enabled="0"] img {
  mask: url('/static/images/invisible.svg') no-repeat;
  padding: 1px 20px;
  margin-left: 5px;
  background-size: cover;
}

#map-toggles-container div {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}
